* {
  font-family: Georgia;
  font-weight: bold;
  background-color: #E4FAFF;
}

.header {
  text-align: left;
}

.footer {
  text-align: left;
    }

.main {
  display: block;
  text-align: left;

}

/*#flair {
  font-family: cursive;
}*/

a {
  display: block;
}

section {
  display:inline-block;
  margin: 10px;
}

.about {
  text-align: center;
}

#background-img {
  height: 100%;
}

#main-text {
  z-index: 1;
}